<!-- Add burgers partial -->
		<div class="col-xs-6 text-center enter_section">
			<div class="panel panel-default">
				<div class="panel-heading" style="font-weight: 900; font-size: 1.5em;">Add a burger</div>
				<div class="panel-body">
					<form action="/add" method="POST">
						<div class="input-group">
							<input type="text" name="burger_name" class="form-control" value="" id="enter_text">
							<br>
							<span class="input-group-btn">
								<button type="sumbit" class="btn btn-primary" id="text-enter-button">Add</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>