<!-- Remove burgers partial -->
		<div class="col-xs-6 text-center enter_section">
			<div class="panel panel-default">
				<div class="panel-heading" style="font-weight: 900; font-size: 1.5em;">Clear all burgers!</div>
				<div class="panel-body">
					<form action="/delete" method="POST">
						<button type="sumbit" class="btn btn-danger" id="text-enter-button">Delete</button>
					</form>
				</div>
			</div>
		</div>