<div class="container">
	<div class="row">
		<br>
		<!-- header information -->
		<div class="jumbotron">
		  <h1 class="display-3 text-center" style="font-weight: 900; font-size: 3em;">Burger 2: The Sequel</h1>
		  <hr class="my-4">
		  <p class="lead">Simple application that performs CRUD operations to a mySQL database via JawsDB deployed on heroku.</p>
		  <p class="lead">Retrieves data from the database (Available Burgers), updates burgers value when devoured, creates a burger (Add a burger), &amp; deletes all data from the database (Delete button) using the ORM Sequelize.</p>
		</div>
		<div class="row">
		{{>add}}
		{{>remove}}
			
		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="row">
		{{>available}}
		{{>devoured}}
	</div>
</div>