<div class="container">
	<div class="row">
		<br>
		<!-- header information -->
		<div class="jumbotron">
		  <h1 class="display-3 text-center" style="font-weight: 900; font-size: 3em;">Sequelized Burger</h1>
		  <hr class="my-4">
		  <p class="lead">Simple application that performs CRUD operations to a mySQL database 
		</div>
		<div class="row">
		{{>add}}
		{{>remove}}
			
		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="row">
		{{>available}}
		{{>devoured}}
	</div>
</div>